.password-label {
    width: 90%;
    justify-content: space-between;
    background-color: var(--cl-bg-container);
    box-shadow: none;
    transition: background 0.2s, border-color 0.2s;
    transition-delay: 0s, 0s;

    &__input {
        width: 90%;
        all: unset;
        cursor: pointer;
        display: inline;
        border: 0px;
        margin-right: 10px;
        box-shadow: none;
        background-color: var(--cl-bg-container);
        color: var(--cl-text-primary);
        transition: background 0.2s, border-color 0.2s;
        transition-delay: 0s, 0s;
    }
}

.ant-table-row:hover > .ant-table-cell > .ant-row > .password-label {
    background-color: var(--cl-bg-spotlight);
}

.ant-table-row:hover > .ant-table-cell > .ant-row > .password-label > .password-label__input {
    background-color: var(--cl-bg-spotlight);
}
