.customer-desc-card {
    &__item-title {
        color: var(--cl-text-tertiary);
    }

    &__copy-btn {
        cursor: pointer;  
        margin-left: 10px;
    }

    &__test-label {
        margin-right: 10px;
    }
}